.root {
    aspect-ratio: 2 / 1;
    position: relative;
}

.thumbnail {
    --parallax: 40%;
    --rotate: 30deg;
    --shadow: 8px;

    position: absolute;
    inset: 0;
    background: black;
    border-radius: var(--img-radius);
    display: grid;
    place-items: center;
    color: inherit;
    text-decoration: none;
    background-image: var(--thumb);
    background-size: calc(100% + var(--parallax));
    border: 1px solid var(--color-fg);

    --rx: rotateX(calc(0deg + (var(--rotate) * (var(--y) - 0.5))));
    --ry: rotateY(calc(0deg - (var(--rotate) * (var(--x) - 0.5))));

    transform: var(--rx) var(--ry);

    --px: calc(50% + (var(--parallax) * (var(--x) - 0.5)));
    --py: calc(50% + (var(--parallax) * (var(--y) - 0.5)));

    background-position: var(--px) var(--py);

    --sx: calc(0px - (var(--shadow) * (var(--x) - 0.5)));
    --sy: calc(0px - (var(--shadow) * (var(--y) - 0.5)));

    box-shadow: var(--sx) var(--sy) 0 0 hsla(0deg 0% 0% / 40%);
}

.title {
    margin: 0;
    font-size: 1.2rem;
    padding: 16px 3em;
    text-shadow: 0 1px 2px hsla(0deg 0% 0% / 60%);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: hsla(0deg 0% 100% / 30%);
        clip-path: polygon(2em 0%, 100% 0%, 100% calc(100% - 2em), calc(100% - 2em) 100%, 0% 100%, 0% 2em);
        backdrop-filter: blur(3px);
        z-index: -1;

        --text-offset: 16px;
        --tx: calc(0px - (var(--text-offset) * (var(--x) - 0.5)));
        --ty: calc(0px - (var(--text-offset) * (var(--y) - 0.5)));

        transform: translate(var(--tx), var(--ty));
    }
}
