@import url("normalize.css"); /* This is a node_module, not a file */

/* @import url("reset.css"); */
@import url("vars.css");

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    --scroll-position: 0px;

    color: var(--color-text);
    font-family: var(--font-mono);
    font-weight: 400;
    background: var(--color-bg, black);
    background-image: radial-gradient(ellipse at 50% 50%, hsla(0deg 0% 0% / 0%) 50%, hsla(0deg 0% 0% / 25%) 100%),
        radial-gradient(circle at 1px 1px, hsla(0deg 0% 100% / 20%) 1px, hsla(0deg 0% 100% / 0%) 1px);
    background-size: 100% 100%, 100px 100px;
    background-attachment: fixed;
    font-size: 16px;

    /* Move the background at 20% speed of the scroll with a 5px offset just to dis-align the top pixel */
    background-position: center center, center calc((var(--scroll-position) * -0.2) - 5px);

    &::before {
        content: "";
        background: var(--img-noise);
        opacity: 0.1;
        position: fixed;
        inset: 0;
        mix-blend-mode: screen;
        pointer-events: none;
    }
}

main {
    overflow: clip;
}

[id] {
    scroll-margin-top: 5em;
}

p {
    font-size: 0.8em;
    line-height: 1.4;
}

a:not([class]) {
    color: var(--color-text);
    text-decoration: none;
    position: relative;
}

a:not([class])::before {
    content: "";
    position: absolute;
    bottom: 0.05em;
    width: 100%;
    border-bottom: 1px solid currentcolor;
    transform: scaleX(0.6);
    opacity: 0;
    transition: transform cubic-bezier(0.6, 2.2, 0.36, 0.78) 300ms, opacity ease 200ms;
}

a:not([class]):hover::before {
    transform: scaleX(1);
    opacity: 0.6;
}

:is(*, button):focus-visible {
    outline: 1px dotted var(--color-text);
    outline-offset: 4px;
}

figure {
    margin: 0;

    & figcaption {
        font-size: 0.7em;
        font-style: italic;
        opacity: 0.9;
    }
}

img {
    vertical-align: top;
}

.u-center {
    text-align: center;
}
