@import url("normalize.css"); /* This is a node_module, not a file */

/* @import url("reset.css"); */
@import url("vars.css");

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    --scroll-position: 0px;

    color: var(--color-text);
    font-family: var(--font-mono);
    font-weight: 400;
    background: var(--color-bg, black);
    background-image: radial-gradient(circle at 1px 1px, hsla(0deg 0% 100% / 20%) 1px, hsla(0deg 0% 100% / 0%) 1px);
    background-size: 100px 100px;
    background-attachment: fixed;
    overflow-x: hidden;
    font-size: 16px;

    /* Move the background at 20% speed of the scroll with a 5px offset jus to dis-align the top pixel */
    background-position: center calc((var(--scroll-position) * -0.2) - 5px);
}

[id] {
    scroll-margin-top: 5em;
}

p {
    font-size: 0.8em;
    line-height: 1.4;
}
