@import url("normalize.css"); /* This is a node_module, not a file */

/* @import url("reset.css"); */
@import url("vars.css");

body {
    color: var(--color-text);
    font-family: var(--font-mono);
    font-weight: 200;
    background: black;
}
