:root {
    --font-mono: ui-monospace, "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
        "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --color-text: white;

    --color-values-bg: 90deg 9% 14%;
    --color-bg: hsl(var(--color-values-bg));

    --img-radius: 12px;

    --bracket-multiplier: 0.15;
    --ring-multiplier: 0.7;
}
