:root {
    --font-mono: ui-monospace, "Menlo", "Monaco", "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono",
        "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

    --color-text: white;

    --color-bg-dark: hsl(90deg 15% 3%);
    --color-bg-light: hsl(90deg 18% 15%);
}
