.root {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 48px;

    @media (width < 1400px) {
        gap: 24px;
    }

    @media (width < 800px) {
        grid-template-columns: 1fr;
        gap: 64px;
    }
}

.intro {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
    max-width: 600px;
    margin-left: auto;

    & > * {
        margin: 0;
    }
}

.card {
    grid-row: span 2;

    @media (width < 800px) {
        transform: translateX(10vw);

        & > * {
            transform-origin: right center;
        }

        &:nth-child(odd) {
            transform: translateX(-10vw);

            & > * {
                transform-origin: left center;
            }
        }
    }
}
