.root {
    display: flex;
    gap: 16px;
    line-height: 0;

    & > * {
        flex-grow: 1;
        flex-basis: 1px;
    }
}

.photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: var(--img-radius);
}

.title {
    text-align: right;
}

.column {
    --translate-speed: 0.1;

    @media (min-width: 800px) {
        transform: translateY(calc(var(--scroll-position) * var(--translate-speed) * -1));
    }
}

.column:nth-child(2) {
    --translate-speed: 0.25;

    margin-top: 100px;
}

.column:nth-child(3) {
    --translate-speed: 0.35;

    margin-top: 40px;
}

.column:nth-child(4) {
    --translate-speed: 0.2;

    margin-top: 260px;
}
