.root {
    display: flex;
    gap: 16px;

    & > * {
        flex-grow: 1;
        flex-basis: 1px;
    }
}

.photo {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: var(--img-radius);
    line-height: 0;
}

.title {
    text-align: right;
}

.column {
    @media (width > 800px) {
        transform: translateY(calc(var(--scroll-position) * var(--translate-speed, 0) * -1));
    }
}

.column[data-index="1"] {
    --translate-speed: 0.1;

    order: 1;
    margin-top: 0;
}

.column[data-index="2"] {
    --translate-speed: 0.25;

    order: 2;
    margin-top: 100px;
}

.column[data-index="3"] {
    --translate-speed: 0.35;

    order: 3;
    margin-top: 40px;
}

.column[data-index="4"] {
    --translate-speed: 0.2;

    order: 4;
    margin-top: 260px;
}
