.root {
    position: relative;
    background: #222327;
    aspect-ratio: 3 / 2;
    overflow: clip;
    border-radius: var(--img-radius);
}

.candle {
    position: absolute;
    top: calc(50% - 50px);
    left: 50%;
    width: 1px;
    height: 6px;
    background: black;
    animation: candle-bob 15s ease-in-out infinite;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 3px;
        left: -8px;
        width: 16px;
        height: 92px;
        background: #a29672;
        border-radius: 50% / 4px;
        box-shadow: 0 12px 24px 3px rgba(0 0 0 / 15%), 0 -86px 0 0 rgba(255 255 255 / 20%) inset,
            0 1px 0 0 rgba(255 238 221 / 60%) inset, 0 30px 17px 0 rgba(255 238 221 / 30%) inset;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: calc(100% - 4px);
        left: -3px;
        width: 8px;
        height: 16px;
        border-radius: 100%;
        animation: candle-flicker 6s linear infinite, candle-shadow 1s linear infinite;
        animation-delay: inherit;
        transform-origin: center bottom;
        background-color: #0df;
        background-image: radial-gradient(circle at 4px 16px, #fff, #0df);
        filter: blur(2px) contrast(1.5);
    }

    &.candle_two {
        left: calc(50% - 32px);
        animation-delay: -3.3s;
    }

    &.candle_three {
        left: calc(50% + 38px);
        animation-delay: -6.6s;
    }
}

@keyframes candle-flicker {
    0%,
    100% {
        transform: rotate(8deg) scaleX(1) scaleY(1);
    }

    12.5% {
        transform: rotate(4deg) scaleX(0.5) scaleY(0.8);
    }

    25% {
        transform: rotate(0deg) scaleX(1.1) scaleY(1);
    }

    37.5% {
        transform: rotate(-4deg) scaleX(0.5) scaleY(0.8);
    }

    50% {
        transform: rotate(-8deg) scaleX(0.9) scaleY(1.05);
    }
}

@keyframes candle-shadow {
    0% {
        box-shadow: 0 0 0 0 rgba(0 221 255 / 0%);
    }

    30% {
        box-shadow: 0 -3px 0 2px rgba(0 221 255 / 60%);
    }

    100% {
        box-shadow: 0 -20px 0 -6px rgba(0 221 255 / 20%);
    }
}

@keyframes candle-bob {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(32px);
    }
}
