.root {
    min-height: 100vh;
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: relative;
}

.root::before,
.root::after {
    content: "";
    position: absolute;
    width: 100vw;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 1px solid hsla(0deg 0% 100% / 10%);
    border-color: transparent hsla(0deg 0% 100% / 10%);
    bottom: calc(20% - (var(--scroll-position) * 0.6));
    z-index: -2;
    right: 50%;
    animation: spin 60s linear infinite;
    rotate: -45deg;
}

.root::after {
    right: auto;
    left: 30%;
    bottom: auto;
    top: calc(50% + (var(--scroll-position) * 0.6));
    rotate: -20deg;
    animation-duration: 85s;
}

@keyframes spin {
    to {
        transform: rotate(-360deg);
    }
}

.small {
    font-size: 0.8rem;
    animation: small-intro ease-out 300ms 1 200ms;
    animation-fill-mode: both;
}

@keyframes small-intro {
    0% {
        opacity: 0;
        transform: translateY(-1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    margin: 12px 0 0;
}

.letter {
    display: inline-block;
    color: transparent;
    font-size: 0;
    padding: 0 4px;
}

.letterImg {
    height: 3rem;
}

.bracket {
    height: 30vh;
    height: 30lvh;
    position: absolute;
    top: calc(50% + (var(--scroll-position) * 0.15));
    left: 50%;
    transform: translate(-50%, -50%);
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.11, 1.47, 0.56, 0.99);
    animation-delay: 750ms;
    z-index: -1;
}

.bracket:nth-of-type(1) {
    animation-name: bracket-intro-1;
}

.bracket:nth-of-type(2) {
    animation-name: bracket-intro-2;
}

@keyframes bracket-intro-1 {
    0% {
        transform: translate(calc(-50% - 24em), -50%);
        opacity: 0;
    }

    100% {
        transform: translate(calc(-50% - 22em), -50%);
        opacity: 1;
    }
}

@keyframes bracket-intro-2 {
    0% {
        transform: translate(calc(-50% + 24em), -50%);
        opacity: 0;
    }

    100% {
        transform: translate(calc(-50% + 22em), -50%);
        opacity: 1;
    }
}
