.root {
    min-height: 100vh;
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: relative;
}

.root::before,
.root::after {
    content: "";
    position: absolute;
    width: 100vmin;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 1px solid hsla(0deg 0% 100% / 10%);
    border-color: transparent hsla(0deg 0% 100% / 10%);
    top: calc(10vh + (var(--scroll-position) * var(--ring-multiplier)));
    z-index: -2;
    left: 0%;
    animation: fade-in 2s linear 1 1s both, spin 60s linear infinite;
    transform: translate(-50%, -50%) rotate(0deg);
}

.root::after {
    left: 100%;
    top: calc(80vh + (var(--scroll-position) * var(--ring-multiplier)));
    animation-duration: 2s, 85s;
}

@keyframes spin {
    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.small {
    font-size: 0.8rem;
    animation: small-intro ease-out 300ms 1 200ms;
    animation-fill-mode: both;
}

@keyframes small-intro {
    0% {
        opacity: 0;
        transform: translateY(-1em);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.title {
    margin: 12px 0 0;
    font-size: 0;
}

.letter {
    display: inline-block;
    color: transparent;
    padding: 0 4px;

    @media (width < 550px) {
        padding: 0 2px;
    }
}

.letterImg {
    height: 3rem;

    @media (width < 1000px) {
        height: 2rem;
    }

    @media (width < 550px) {
        height: 1.2rem;
    }
}

.bracket {
    height: 350px;
    position: absolute;
    top: calc(50% + (var(--scroll-position) * var(--bracket-multiplier)));
    left: 50%;
    transform: translate(-50%, -50%);
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.11, 1.47, 0.56, 0.99);
    animation-delay: 750ms;
    z-index: -1;

    --offset: 22rem;

    @media (width < 1000px) {
        --offset: 14rem;

        height: 200px;
    }

    @media (width < 550px) {
        --offset: 9rem;

        height: 140px;
    }
}

.bracket:nth-of-type(1) {
    animation-name: bracket-intro-1;
}

.bracket:nth-of-type(2) {
    animation-name: bracket-intro-2;
}

@keyframes bracket-intro-1 {
    0% {
        transform: translate(calc(-50% - var(--offset) - 2em), -50%);
        opacity: 0;
    }

    100% {
        transform: translate(calc(-50% - var(--offset)), -50%);
        opacity: 1;
    }
}

@keyframes bracket-intro-2 {
    0% {
        transform: translate(calc(-50% + var(--offset) + 2em), -50%);
        opacity: 0;
    }

    100% {
        transform: translate(calc(-50% + var(--offset)), -50%);
        opacity: 1;
    }
}
